*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Neucha', cursive;
    overflow-x:hidden;
    background:#ffd6f5;
}

/* ================= КОНВЕРТ ================= */

.envelope-screen{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#ffb3e6,#ffc6f2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:1000;
    transition:opacity 0.8s ease;
}

.open-text{
    margin-top:30px;
    font-size:22px;
    color:#c2185b;
}

#evnelope{
    position:relative;
    width:280px;
    height:180px;
    background:#ff6fb5;
    border-radius:0 0 6px 6px;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
    cursor:pointer;
    z-index:10; /* неизменный */
}

/* КРЫШКА */
.flap{
    position:absolute;
    top:0;
    left:0;

    border-left:140px solid transparent;
    border-right:140px solid transparent;
    border-top:98px solid #ff6fb5;
    transform-origin:top;
    z-index:15; /* выше конверта */
    transition:transform 0.6s ease, z-index 0.3s;
}

/* ОСНОВА */
.pocket{
    position:absolute;
    top:0;
    left:0;

    border-left:140px solid #ff85c1;
    border-right:140px solid #ff85c1;
    border-bottom:90px solid #ff5ca8;
    border-top:90px solid transparent;
    z-index:11;
    animation: pulse 2s infinite ease-in-out;
    transform-origin: center; /* центр пульсации */
}


.close{
    animation: pulse 2s infinite ease-in-out;
    transform-origin: center; 
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

/* ЛИСТ */
.letter{
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    background:#fff;
    border-radius:6px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);

    z-index:5; /* всегда меньше конверта */
    transition:transform 0.6s 0.5s ease;
}

/* OPEN */
.open .flap{
    transform:rotateX(180deg);
    z-index:1; /* ниже конверта */
    animation: none;
}

.open .pocket{
    animation: none;

}


.open .letter{
    transform:translateY(-60px);
}

/* ================= ПРИГЛАШЕНИЕ ================= */

.invitation{
    min-height:100vh;
    padding:80px 20px 40px;
    text-align:center;
    position:relative;

    opacity:0;
    transform:scale(0.95);
    transition:opacity 1s ease, transform 1s ease;
}

.invitation.show{
    opacity:1;
    transform:scale(1);
}

.hidden{
    display:none;
}

/* КАРТОЧКА */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(255,255,255,0.85);
    backdrop-filter:blur(10px);
    border-radius:30px;
    padding:45px 30px;
    max-width:650px;
    margin:auto;
    box-shadow:0 20px 60px rgba(255,105,180,0.4);
    position:relative;
    z-index:50;
}

.hero-title{
    font-size:55px;
    color:#c2185b;
    margin-bottom:25px;
}

.date{
    font-size:40px;
    margin-bottom:10px;
}

.time{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.timer{
    margin:30px 0;
    font-size:26px;
    font-weight:bold;
    color:#ad1457;
    text-align: center;
}

.wishlist-btn{
    display:inline-block;
    margin-top:15px;
    padding:14px 30px;
    border-radius:30px;
    background:linear-gradient(135deg,#ff4da6,#ff2f92);
    color:white;
    text-decoration:none;
    font-size:20px;
    transition:0.3s;
    width: 50%;
}

.wishlist-btn:hover{
    transform:scale(1.07);
}

/* ================= ШАРИКИ ================= */

.balloons{
    position:fixed;
    inset:0;
    overflow:hidden;
    z-index:1;
    pointer-events:none;
}

.balloon{
    position:absolute;
    bottom:-150px;
    width:55px;
    height:75px;
    border-radius:50%;
    opacity:0.9;
    animation: float linear infinite;
}

.balloon::after{
    content:"";
    position:absolute;
    width:2px;
    height:50px;
    background:rgba(0,0,0,0.2);
    left:50%;
    top:75px;
}

.b1{left:5%;background:#ff4d6d;animation-duration:12s;animation-delay:0s;}
.b2{left:15%;background:#ff85c1;animation-duration:15s;animation-delay:4s;}
.b3{left:30%;background:#ffa600;animation-duration:18s;animation-delay:2s;}
.b4{left:45%;background:#c77dff;animation-duration:14s;animation-delay:6s;}
.b5{left:60%;background:#00c2ff;animation-duration:17s;animation-delay:3s;}
.b6{left:70%;background:#38b000;animation-duration:20s;animation-delay:8s;}
.b7{left:85%;background:#ff006e;animation-duration:16s;animation-delay:5s;}
.b8{left:95%;background:#8338ec;animation-duration:22s;animation-delay:10s;}

@keyframes float{
    from{transform:translateY(0);}
    to{transform:translateY(-120vh);}
}

/* ================= КОТИКИ ================= */

.cat{
    position:fixed;
    top:20%;
    width:300px;
    z-index:40;
}

.cat.left {
    left: 0;          /* прижать к левому краю */
    top: 50%;
    transform: translateY(-150%) translateX(50%);
}

.cat.right {
    right: 0;         /* прижать к правому краю */
    top: 50%;
    transform: translateY(-150%) translateX(-50%);
}

.cat2{
  visibility: hidden;
  height: 0;
}
/* ================= КАРТА ================= */

.map{
    margin-top:60px;
    position:relative;
    z-index:50;
}

.map iframe{
    width:60%;
    height:420px;
    border:none;
    border-radius:25px;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

/* ================= FOOTER ================= */

footer{
    margin-top:35px;
    font-size:14px;
    color:#ad1457;
}

/* ================= АДАПТИВ ================= */

@media(max-width:768px){
    h1{font-size:26px;}
    .card{padding:30px 20px;}
    .cat{width:100px;}
    .map iframe{height:250px;}
}

@media(width <= 1200px){
  .map iframe{
    width: 100%;
  }
  .cat{
    visibility: hidden;
  }
  .cat2{
    visibility: visible;
    width: 50%;
    height: auto;
  }
  .hero-title{
    font-size: 40px;
  }
  .date{
    font-size: 25px;
  }
  .time{
    font-size: 18px;
  }
}

